.ant-layout-sider {
    background-color: rgb(28, 56, 85);
    background-image:url('../../../../assets/images/pattern_h.png');
    background-repeat:repeat;
}

.user-container{
    background-color: rgb(32,65,98);
}