.filter-radio {
    .ant-radio-wrapper {
        font-family: 'Montserrat', sans-serif !important;
        font-size: clamp(14px, 1.7vh, 36px) !important;
        &:hover{
            color: #9B7A5B;
        }
    }

    .ant-radio-checked .ant-radio-inner,
    .ant-radio-inner:hover {
        border-color: #9B7A5B;
        background-color: #9B7A5B;

    }

    .ant-radio-inner {
        width: 16px;
        height: 16px;
        border-color: #9B7A5B !important;
    }
}