@use './styles/global-colors.scss' as globalColors;
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.ant-checkbox-inner {
  border: 2px solid globalColors.$controlsColor !important;
  background-color: transparent !important;
}


.ant-checkbox-checked .ant-checkbox-inner {
  background-color: globalColors.$controlsColor !important;
  border-color: globalColors.$controlsColor !important;
}


.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: white !important;
}


.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: globalColors.$controlsColor !important;
}


.ant-checkbox-input:focus+.ant-checkbox-inner {
  border-color: globalColors.$controlsColor !important;
  box-shadow: none !important;
}


.ant-checkbox-wrapper {
  color: #3A211C !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  font-size: 14px;
}

.ant-checkbox-wrapper:hover {
  color: globalColors.$controlsColor !important;
}

.forget-password:hover {
  color: globalColors.$controlsColor !important;
}

.back-button:hover {
  color: globalColors.$controlsColor !important;
  
}
