@use '../../styles/global-colors.scss' as globalColors;

.primary-input .ant-input-password .ant-input {
  font-family: 'Montserrat', sans-serif !important;
  color: globalColors.$controlsColor !important;
}

.primary-input .ant-input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-text-fill-color: globalColors.$controlsColor !important;
  border: 1px solid globalColors.$controlsColor !important;
}

.primary-input .ant-input:-moz-autofill {
  box-shadow: 0 0 0px 1000px #fff inset !important;
  color: globalColors.$controlsColor !important;
}

.primary-input input,
.ant-input-password {
  outline: none !important;
  box-shadow: none !important;
  border-color: globalColors.$controlsColor !important;
}

.primary-input input:hover,
.ant-input-password:hover {
  border-color: globalColors.$controlsColor !important;
}

.primary-input input:focus,
.ant-input-password:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: globalColors.$controlsColor !important;
}

.primary-input input:active,
.ant-input-password:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: globalColors.$controlsColor !important;
}

.primary-input .ant-form-item-explain-error {
  font-family: 'Montserrat', sans-serif !important;
  color: #BB8A52;
  font-size: clamp(11px, 1.5vh, 36px);
  font-weight: normal;
  line-height: 1.25rem;
  text-decoration-line: underline;
}