 .ant-menu-item,
 .ant-menu-item:active,
 .ant-menu-item:hover,
 .ant-menu-item:focus {
   border-radius: 2px !important;
   border-radius: 2px !important;
 }

 .ant-menu{
  background-color: rgb(28, 56, 85);
  background-image:url('../../../images/pattern_h.png');
  background-attachment: fixed
 }
